//- renderObj
  posts
    posts[i].urlWithDate
    posts[i].title
    posts[i].postDateString
    posts[i].category
    posts[i].state
    posts[i].stateString
    posts[i]._id
  authorName

extends ../layout/layout

block content
  h3= '欢迎您, ' + authorName

  a.btn.btn-lg.btn-primary(href="/new") 写新文章
  .row
    .col-md-12.col-lg-8
      table.table
        thead
          tr
            th 标题
            th 日期
            th 分类
            th 状态
        tbody
        if (posts && posts.length)
          each post in posts
            tr
              td= post.title
              td= post.postDateString
              td= post.category
              td= post.stateString
              td
                a(href="/new/" + post._id + "?state=" + post.state) 修改
              td 
                button.btn.btn-primary.delPost(postid=post._id, state=post.state) 删除


