include mixin.jade

extends ../layout/layout

block content
  .row
    .col-xs-6.col-sm-6.col-md6.col-lg-6
      form#formNewPost(name="formNewPost")
        .form-group
          label 文章标题
          input#title.form-control(required, name="title", value=post.title)
        .form-group
          label url
          input#url.form-control(required, name="url", value=post.url)
        .form-group
          label 文章摘要
          - var brief = ''
          - if (post.content) brief = post.content.brief
          textarea#brief.form-control(rows="3", name="brief", required) #{brief} 
        .form-group
          - var content = ''
          - if (post.content) content = post.content.full
          label 文章内容(markdown)
          textarea#content.form-control(rows="28", name="content", required) #{content}          
        .form-group
          label 图片
          input.form-control(type="file", name="upload")
          button#upload.btn.btn-primary 上传
          p#image
            if post.image
              each img in post.image
                img(src=img, width="48px", height="48px", align="bottom")
                ="  "+img
                input.btn.btn-primary.delete(type="button", value="del")
        .form-group
          label 文章分类
          p
          label.radio-inline
            - var checkedTech = false, checkedBusi = false
            - if (post.category === "tech") checkedTech = true
            - if (post.category === "business") checkedBusi = true
            input#radio1(type="radio", name="category", value="tech", required, checked=checkedTech)
            | 技术
          label.radio-inline
            input#radio2(type="radio", name="category", value="business", required, checked=checkedBusi)
            | 业界
        button#btnSubmit.btn.btn-primary(fileid=post._id) 提交
    .col-xs-6.col-sm-6.col-md6.col-lg-6
      h3#preTitle &nbsp
      p#preUrl &nbsp
      hr
      .content
        blockquote
          span
            strong 摘要:&nbsp
          span#preBrief
        div#preContent

block scripts
  script(src="/marked/lib/marked.js")
  script.
    marked.setOptions({
      renderer: new marked.Renderer(),
      gfm: true,
      tables: true,
      breaks: false,
      pedantic: false,
      sanitize: true,
      smartLists: true,
      smartypants: false
    });
    var v = $.trim($("#content").val());
    $("#content").val(v);
    my_prj.fresh();

