include mixin.jade

extends ../layout/layout



block content

  .row
    .col-xs-6.col-sm-6.col-md6.col-lg-6
      form#formNewPost(name="formNewPost")
        .form-group
          label 文章标题
          input#title.form-control(required, name="title", value=post.title)
        .form-group
          label url
          input#url.form-control(required, name="url", value=post.url)
        .form-group
          label 文章摘要
          - var brief = post.content
          - if (brief) brief = brief.brief
          textarea#brief.form-control(rows="3", name="brief", required) #{brief} 
        .form-group
          - var content = post.content
          - if (content) content = content.full
          label 文章内容(markdown)
          textarea#content.form-control(rows="28", name="content", required) #{content}          
        .form-group
          lablel image
          input.form-control(type="file", name="upload")
          button#upload.btn.btn-primary shangchuan
          p#image      
        .form-group
          label 文章分类
          p
          label.radio-inline
            input#radio1(type="radio", name="category", value="tech", required)
            | 技术
          label.radio-inline
            input#radio2(type="radio", name="category", value="business", required)
            | 业界
        button#btnSubmit.btn.btn-primary(fileid=post._id) 提交
    .col-xs-6.col-sm-6.col-md6.col-lg-6
      h3#preTitle &nbsp
      p#preUrl &nbsp
      hr
      .content
        blockquote
          span
            strong 摘要:&nbsp
          span#preBrief
        div#preContent

block scripts
  script(src="/marked/lib/marked.js")
  script.
    marked.setOptions({
      renderer: new marked.Renderer(),
      gfm: true,
      tables: true,
      breaks: false,
      pedantic: false,
      sanitize: true,
      smartLists: true,
      smartypants: false
    });
    my_prj.fresh();

